DataAccessApplicationBlock.VS2010/Configuration/DataAccessConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="https://github.com/SourceproStudio" elementFormDefault="qualified" targetNamespace="https://github.com/SourceproStudio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sourcepro.data" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.sourcepro.dataCT" />
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>属性保护器名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>实现了IDatabasePropertyProtection接口的类型。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionElementCT">
				<xs:annotation>
					<xs:documentation>用于配置数据库属性保护器类型。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionElementCT">
				<xs:annotation>
					<xs:documentation>用于配置数据库属性保护器类型。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>数据库访问组件名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>实现了IDatabase接口的类型。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderElementCT">
				<xs:annotation>
					<xs:documentation>用于配置数据库访问组件类型。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderElementCT">
				<xs:annotation>
					<xs:documentation>用于配置数据库访问组件类型。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.IsProtectedDatabasePropertyElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="propertyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>被保护的属性名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="protectedValue" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>经过保护的属性值。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="protectionName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>属性保护器名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.IsProtectedDatabasePropertyElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.IsProtectedDatabasePropertyElementCT">
				<xs:annotation>
					<xs:documentation>用于配置经过保护的数据库属性。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="protections" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.IsProtectedDatabasePropertyElementCollectionCT">
				<xs:annotation>
					<xs:documentation>需要保护的数据库属性。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>数据库名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>数据库连接串。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultSechema" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>默认架构名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="commandTimeoutSeconds" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>数据库命令执行超时秒数。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="provider" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>数据库访问器名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionElementCT">
				<xs:annotation>
					<xs:documentation>数据库连接配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionElementCT">
				<xs:annotation>
					<xs:documentation>数据库连接配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DefaultDatabaseOptionsSectionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="defaultDatabaseConnection" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>默认的数据库连接名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultDatabaseProvider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>默认的数据库访问器。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultDatabaseProtection" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>默认的数据库属性保护器。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.sourcepro.dataCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="defaultOptions" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DefaultDatabaseOptionsSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="databaseConnections" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="databaseProtections" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="databaseProviders" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderSectionCT" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
