ConfigurationApplicationBlock.VS2010/ConfigurationSourceSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="https://github.com/SourceproStudio" elementFormDefault="qualified" targetNamespace="https://github.com/SourceproStudio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sourcepro.configurationSource" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceSectionCT" />
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="sectionName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>自定义ConfigurationSection的标识名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourcePath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>配置源文件路径。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceElementCT">
				<xs:annotation>
					<xs:documentation>用于配置ConfigurationSection的源。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceElementCT">
				<xs:annotation>
					<xs:documentation>用于配置ConfigurationSection的源。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
